body {
    margin: 0;
    font-family: sans-serif;
    background-color: #3DED97
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
}

.header {
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 2rem;
}

.header h1 {
    margin: 0 0 10px 0;
}

select {
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
    border: none;
    padding: 5px;
}

#vaccination {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    flex: 1;
    align-self: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: all 1s ease;
}

#percentage {
    margin-left: 0.5rem;
}

span {
    color: #ed553d
}

#bar {
    position: absolute;
    height: 0;
    width: 100vw;
    bottom: 0;
    background-color: #693ded;
    z-index: -1;
    transition: all 1s ease;
}