@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #3DED97
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
}

.background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url(./world2.png);
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0.4;
    filter: drop-shadow(8px 8px 5px #000000);
}

.header {
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 2rem;
}

.header h1 {
    margin: 0 0 10px 0;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
    padding: 12px;
}

select {
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
    border: none;
    padding: 5px;
}

#vaccination {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    flex: 0.8;
    align-self: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: all 1s ease;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    user-select: none;
    padding: 12px;
}

#percentage {
    margin-left: 0.5rem;
}

span {
    color: #ed553d
}

#bar {
    position: absolute;
    height: 0;
    width: 100vw;
    bottom: 0;
    background-color: #693ded;
    z-index: -1;
    transition: all 1s ease;
}

@media screen and (max-width: 500px) {
    .header h1 {
        font-size: 2.5rem;
    }

    select {
        font-size: 1.2rem;
    }

    #vaccination {
        font-size: 1.2rem;
    }
}